/******** GENERAL */

body {
    background-image: url("../img/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;}

.index-template {
    color: #fcfcfc;
    padding: 40px 15px;
    text-align: center;}
.button-actions {
    margin-top:15px;
    margin-bottom:15px;
}

/******** LOGIN AND REGISTER */

body#loginform {
    margin: 0;
    padding: 0;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 40px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA95;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

/******** PAGE NAVIGATION */

#nav-menu
{
    background-color: #EAEAEA95;
    height: auto;
    width: 100%;
}
.icon
{
    cursor: pointer;
    padding-top: 10px;
    display: inline-block;
    width: 16%;
    height: auto;
    transition: background-color .4s ease-in-out;

}
#active
{
    background-color: #2b2b2b;
}
#active:hover {
    background-color: #111111;
}
#active .glyphicon
{
    color: #d9d9d9;
}
#active p
{
    text-decoration: none;
    color: #d9d9d9;
}
.icon:hover {
    background-color: #f4f4f4;
}
.icon p
{
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
    color: #2b2b2b;
}
.icon .glyphicon
{
    font-size: 40px;
    color: #2b2b2b;
}
/******** OTHER */
#users-widget {
    background-color: #1b1b1b;
}

.fixedbtn
{
    margin: 0 auto !important;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    width: 20%;
}
p
{
    margin: 0 0 10px !important;
}
a
{
    text-decoration: none !important;
}

/****** GRIDVIEW TABLE ******/

#grid-table
{
    color: #d9d9d9;
    background-color: #00000085;
}
.table th, .table td
{
    text-align: center;
}
.table
{
    width: 90%;
    margin: 0 auto;
}
#add
{
    background-color: transparent;
}
#add:hover {
    background-color: #00000085;
}
#add .glyphicon
{
    color: #d9d9d9;
}
#add p
{
    text-decoration: none;
    color: #d9d9d9;
}

/**** PROFILE ****/

.page-header{
    text-align: left;
}
.panel-default{
    margin: 30px;
    background-color: #00000095;
    color: #d9d9d9;
    border-color: #000000;
}
.panel-default>.panel-heading{
    background-color: #00000095;
    border-color: #000000;
}
.list-group-item{
    text-align: left;
    vertical-align: central;
    background-color: #ffffff15;
    border-color: #00000095;
    color: #d9d9d9;
}
.info-head{
    color: #428bca;
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}
.bs-callout:last-child {
    margin-bottom: 0px;
}
.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-primary {
    border-color: #0e0e0e;
    border-left-color: #428bca;
}

.bs-callout-primary h4{
    color: #428bca;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
    border-radius:0;
}