/******** GENERAL */

body {
    background-image: url("../img/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;}

.index-template {
    color: #fcfcfc;
    padding: 40px 15px;
    text-align: center;}
.button-actions {
    margin-top:15px;
    margin-bottom:15px;
}

/******** LOGIN AND REGISTER */

body#loginform {
    margin: 0;
    padding: 0;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 40px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA95;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

/******** PAGE NAVIGATION */

#nav-menu
{
    background-color: #EAEAEA95;
    height: auto;
    width: 100%;
}
.icon
{
    cursor: pointer;
    padding-top: 10px;
    display: inline-block;
    width: 16%;
    height: auto;
    transition: background-color .4s ease-in-out;

}
#active
{
    background-color: #2b2b2b;
}
#active:hover {
    background-color: #111111;
}
#active .glyphicon
{
    color: #d9d9d9;
}
#active p
{
    text-decoration: none;
    color: #d9d9d9;
}
.icon:hover {
    background-color: #f4f4f4;
}
.icon p
{
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
    color: #2b2b2b;
}
.icon .glyphicon
{
    font-size: 40px;
    color: #2b2b2b;
}
/******** OTHER */
#users-widget {
    background-color: #1b1b1b;
}

.fixedbtn
{
    margin: 0 auto !important;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    width: 20%;
}
p
{
    margin: 0 0 10px !important;
}
a
{
    text-decoration: none !important;
}

/****** GRIDVIEW TABLE ******/

#grid-table
{
    color: #d9d9d9;
    background-color: #00000085;
}
.table th, .table td
{
    text-align: center;
}
.table
{
    width: 90%;
    margin: 0 auto;
}
#add
{
    background-color: transparent;
}
#add:hover {
    background-color: #00000085;
}
#add .glyphicon
{
    color: #d9d9d9;
}
#add p
{
    text-decoration: none;
    color: #d9d9d9;
}
